grammars/biblio-standoc.rnc

include "biblio.rnc" { 
# ALERT: we cannot have comments on root element, as they intervene with https://github.com/metanorma/metanorma/issues/437 fix

# Add-ons to biblio.rnc for standoc model: defines the extension point BibDataExtensionType
# of relaton
#
# Specialisations as for biblio.rnc. Extension point can be redefined completely for a flavour of standoc
# (SDO); but other elements in Bibdata can only be extended (more specialised vocabularies for Bibdata)


## The bibliographic description of a standardisation document
BibData =
  StandardBibliographicItem,
  ## The extension point of the bibliographic description of a standardisation document
  ext?

## Update to StandardReducedBibliographicItem
docrelation =
  element relation {
    attribute type { DocRelationType },
    element description { LocalizedMarkedUpString }?,
    element bibitem { StandardReducedBibliographicItem },
    (locality* | localityStack*),
    (sourceLocality* | sourceLocalityStack*)
}

}

## The extension point of the bibliographic description of a standardisation document
ext =
  element ext { BibDataExtensionType }

BibDataExtensionType =
  ## The version of the flavour-specific schema that this extension point conforms to
  attribute schema-version { text }?,
  ## Classification of the standardisation document that is treated as a distinct series by the
  ## standards defining organization, and that is rendered in a distinct manner
  doctype,
  ## Subclass of the standardisation document, that is treated or processed differently
  ## from other documents in the same doctype
  docsubtype?,
  ## Flavour of Metanorma used to process this document
  flavor,
  ## Classification of the document contents taken from the International Classification of Standards
  ics*,
  ## Representation of the identifier for the standardisation document, giving its individual semantic components
  structuredidentifier*,
  ## Coverpage and other images to be rendered with document
  DocumentImages

## Classification of the standardisation document
doctype = element doctype {
    ## Standard abbreviation for the doctype value used by the standards defining organization
    attribute abbreviation { text }?,
    ## Name of the doctype
    DocumentType
}

DocumentType = text

docsubtype = element subdoctype { DocumentSubtype }

DocumentSubtype = text

flavor = element flavor { MetanormaFlavor }

## This is in fact an enum, as of this writing: standoc iso generic ietf ieee itu nist ogc csa cc iho ribose jis iec bsi bipm plateau.
## However we prefer not to hardcode it, given ongoing extension.
MetanormaFlavor = text

## Classification taken from the International Classification of Standards. 
## ICS is defined by ISO here -- https://www.iso.org/publication/PUB100033.html
ics = element ics { 
  ## Classification code taken from the ICS
  element code { text },
  ## Text string associated with the classification code
  element text { text }?
} 

## Representation of the identifier for a standardisation document, giving its individual semantic components
structuredidentifier = element structuredidentifier {
  ## Representation in the identifier of the type of standard document, corresponds to bibitem/ext/doctype
  attribute type { text }?,
  ## Representation in the identifier of the agency responsible for the standard document
  element agency { text }+,
  ## Representation in the identifier of the class of standard document (as a subclass of the document type),
  ## corresponds to bibitem/item/docsubtype
  element class { text }?,
  ## Representation in the identifier of the (typically numeric) component uniquely identifying the document
  ## or standard. If a document includes parts or supplements, the docnumber identifies the document as whole,
  ## and not those document components
  element docnumber { text },
  ## Representation in the identifier of the document part, if this is a document part. May be compound
  element partnumber { text }?,
  ## Representation in the identifier of the document edition, if this is a published document
  element edition { text }?,
  ## Representation in the identifier of the document version, which can include document drafts
  element version { text }?,
  ## Representation in the identifier of the type of document supplement, if this is a document supplement
  element supplementtype { text }?,
  ## Representation in the identifier of the document supplement, if this is a document supplement
  element supplementnumber { text }?,
  ## Representation in the identifier of the document amendment, if this is a document amendment
  element amendment { text }?,
  ## Representation in the identifier of the document corrigendum, if this is a document corrigendum
  element corrigendum { text }?,
  ## Representation in the identifier of the language of the document
  element language { text }?,
  ## Representation in the identifier of the year of publication or issuance of the document
  element year { text }?
}

DocumentImages =
  ## Images to be displayed on the coverpage of the document
  element coverpage-image { image-no-id }*,
  ## Images to be displayed on the inner coverpage of the document
  element innercoverpage-image { image-no-id }*,
  ## Images to be displayed on the Table of Contents page of the document
  element tocside-image { image-no-id }*,
  ## Images to be displayed on the backpage of the document
  element backpage-image { image-no-id }*

StandardBibliographicItem =
  BibliographicItem,
  ## Description of changes specific to this document
  amend*

StandardReducedBibliographicItem =
  ReducedBibliographicItem,
  ## Description of changes specific to this document
  amend*
