grammars/biblio.rnc

# instantiations of this grammar may replace leaf strings
# with more elaborated types; e.g. title (text) replaced with
# title-main, title-intro, title-part; type replaced with
# enum.
#
# some renaming at leaf nodes is permissible
#
# obligations can change both from optional to mandatory,
# and from mandatory to optional; optional elements may
# be omitted; freely positioned alternatives may be replaced
# with strict ordering
#
# DO NOT introduce a namespace here. We do not want a distinct namespace
# for these elements, and a distinct namespace for any grammar inheriting
# these elements; we just want one namespace for any child grammars
# of this.

grammar {

# https://www.myintervals.com/blog/2009/05/20/iso-8601-date-validation-that-doesnt-suck/
# iso8601date = xsd:string { pattern = "([\+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))([T\s]((([01]\d|2[0-3])((:?)[0-5]\d)?|24\:?00)([\.,]\d+(?!:))?)?(\17[0-5]\d([\.,]\d+)?)?([zZ]|([\+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?" }
# Somewhat dumbed down for XSD regex:
ISO8601DateTime = xsd:string { pattern = "([\+\-]?\d{4})((-?)((0[1-9]|1[0-2])((-?)([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))([T\s]((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([\.,]\d+)?)?((:?)[0-5]\d([.,]\d+)?)?([zZ]|([\+\-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?" }
ISO8601Date = xsd:string { pattern = "([\+\-]?\d{4})((-?)((0[1-9]|1[0-2])((-?)([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6]))))?" }

# start = bibitem

BibData =
  BibliographicItem

status =
  element status {
     ( stage, substage?, iteration? )
}

stage = element stage {
  attribute abbreviation { text }?,
  text
}

substage = element substage {
  attribute abbreviation { text }?,
  text
}

iteration = element iteration { text }

language = element language { text }
## ISO-639

locale = element locale { text }
## ISO-3166

script = element script { text }
## ISO-15924: Latn

edition = element edition {
   attribute number { text }?,
   text
}

LocalizedStringAttrs = 
  # multiple languages and scripts possible: comma delimit them if so
  attribute language { text }?,
  attribute locale { text }?,
  attribute script { text }?

LocalizedString1 =
  # multiple languages and scripts possible: comma delimit them if so
  LocalizedStringAttrs,
  text

LocalizedString =
  LocalizedString1 |
  element variant { LocalizedString1 }+

LocalizedMarkedUpString1 =
  # multiple languages and scripts possible: comma delimit them if so
  LocalizedStringAttrs,
  TextElement+

LocalizedMarkedUpString =
  LocalizedMarkedUpString1 |
  element variant { LocalizedMarkedUpString1 }+

# Unlike UML, change type to format: type is overloaded
# Would be need if plain were default value and could omit the attribute
# Added LocalizedStringOrXsAny
FormattedString =
  # attribute format { ( "plain" | "html" | "docbook" | "tei" | "asciidoc" | "markdown" ) }?,
  attribute format { ( "text/plain" | "text/html" | "application/docbook+xml" |
    "application/tei+xml" | "text/x-asciidoc" | "text/markdown" | "application/x-metanorma+xml" | text ) }?,
  LocalizedStringOrXsAny

LocalizedStringOrXsAny1 =
  # multiple languages and scripts possible: comma delimit them if so
  LocalizedStringAttrs,
  ( text | AnyElement )+

LocalizedStringOrXsAny =
  LocalizedStringOrXsAny1 |
  element variant { LocalizedStringOrXsAny1 }+

contributor =
  element contributor {
    role+,
    ContributorInfo
}

role =
  element role {
    attribute type { ( "author" | "performer" | "publisher" | "editor" | "adapter" | "translator" | "distributor" |
    "realizer" | "owner" | "authorizer" | "enabler" | "subject" ) },
    roledescription*
}

ContributorInfo =
  ( person | organization )

roledescription =
  element description { LocalizedMarkedUpString }

person =
  element person {
    fullname?,
    credential*,
    affiliation*,
    person-identifier*,
    contact*
}

fullname = element name { FullNameType }
credential = element credential { text }

FullNameType =
    name_abbreviation?,
    (( prefix*, forename*, formatted-initials?, surname, addition* ) | completeName ),
    biblionote*, variantname*

name_abbreviation = element abbreviation { LocalizedString }
prefix = element prefix { LocalizedString }
formatted-initials = element formatted-initials { LocalizedString }
addition = element addition { LocalizedString }
surname = element surname { LocalizedString }
forename = element forename {
  attribute initial { text }?,
  LocalizedString
}
completeName = element completename { LocalizedString }

variantname = element variant {
  attribute type { text },
  FullNameType
}

## The affiliation of a person with an organization
affiliation =
  element affiliation {
    ## The name of the affiliation of the person with the organization; typically a position title
    affiliationname?,
    ## A more detailed description of the affiliation of the person
    affiliationdescription*,
    ## The organization with which the person is affiliated
    organization?
}

affiliationname = element name { LocalizedString }

affiliationdescription = element description {  LocalizedMarkedUpString }

organization = element organization { OrganizationType}
OrganizationType =
    orgname+, subdivision*, abbreviation?, uri*, org-identifier*, contact*, logo?

orgname = element name { LocalizedString | NameWithVariants }
subdivision = element subdivision { 
   attribute type { text }?,
   OrganizationType 
}
logo = element logo { image-no-id }
depiction = element depiction {
  attribute scope { text }?,
  image-no-id*
}

NameWithVariants =
  element primary { LocalizedString },
  element variant { NameWithVariants1 }*

NameWithVariants1 =
  attribute type { text },
  element primary { LocalizedString },
  element variant { NameWithVariants1 }*

abbreviation =
  element abbreviation { LocalizedString }

uri =
  element uri {
    attribute type { text }?,
    xsd:anyURI
  }

# TODO may change
contact =
  ( address | phone | email | uri )

phone = element phone {
  attribute type { text }?,
  text }

email = element email { text }

## An address for a person or organization
address =
  element address {
    # iso191606 TODO
    (
      ## The street and street number or equivalent in the address, as one or more lines of text
      street*,
      ## The settlement or municipality in the address
      city,
      ## The region of the country in the address
      state?,
      ## The country in the address
      country,
      ## The postal code or equivalent in the address
      postcode?
    ) |
    ## Preformatted version of the address, not decomposed into its component parts
    formattedAddress
}

street = element street { text }
city = element city { text }
state = element state { text }
country = element country { text }
postcode = element postcode { text }
formattedAddress = element formattedAddress { text }

person-identifier =
  element identifier {
    attribute type { ("isni" | "orcid" | "uri") },
    text
  }

org-identifier =
  element identifier {
    attribute type { string },
    text
  }

## Representation of a citation of a bibliographic item, typically within a document
citation =
  element citation { CitationType }

CitationType =
    ## Bibliographic item that the citation applies to, referenced as the anchor of a bibliographic description
    attribute bibitemid { xsd:IDREF },
    (
       ## Describes the location of the cited information resource within the subject of the bibliographic item.
       ## Multiple ``bibLocality``s are interpreted as discontinuous references.
       locality* |
       ## Describes the location of the cited information resource within the subject of the bibliographic item in a multi-level manner.
       ## For example, the hierarchical specification "Part IV, Chapter 3, Paragraphs 22-24" 
       ## is represented as a single `bibLocalityStack`, composed of those three localities
       ## (as opposed to three `bibLocality` references, which would be treated as three discontinuous references).
       ## Multiple ``bibLocalityStack``s are themselves interpreted as discontinuous references
       localityStack*
    ),
    ## Date of the citation, typically date of publication. 
    ## A combination of the date time elements year, month and day should be specified.
    ## Specification of month and day are optional. 
    ## This date is not intended for disambiguation, since `bibitemid`
    ## already identifies the source unambiguously; it is added for ease of processing, in case author-date
    ## citations cannot straightforwardly extract the date from the bibliographic source
    date?

date = element date { ISO8601Date }

## The extent or location of a bibliographic item being referred to.
## A sequence of locality elements is meant to indicate hierarchical ordering, from greater to smaller.
## e.g. Chapter, then page, then paragraph.
## A discontinuous range can be represented by using two adjacent localities with the same type.

locality =
  element locality { BibItemLocality }

localityStack =
   element localityStack {
     attribute connective { "and" | "or" | "from" | "to" | "" }?,
     locality*
 }

sourceLocality =
  element sourceLocality { BibItemLocality }

sourceLocalityStack =
   element sourceLocalityStack {
     attribute connective { "and" | "or" | "from" | "to" | "" }?,
     sourceLocality*
 }

BibItemLocality =
    ## The type of extent of a locality (e.g. section, clause, page)
    attribute type { LocalityType },
    ## The starting value of the extent, or point location
    referenceFrom?,
    ## The end value of the extent as a range, if applicable
    referenceTo?

LocalityType = xsd:string { pattern = "section|clause|part|paragraph|chapter|page|title|line|whole|table|annex|figure|note|list|example|volume|issue|time|anchor|locality:[a-zA-Z0-9_]+" }

referenceFrom = element referenceFrom { text }
referenceTo = element referenceTo { text }

# unlike UML, has id attribute; that results from including bibitem in a docmodel
bibitem =
  element bibitem {
     attribute id { xsd:ID },
     BibliographicItem
}

bibitem_no_id =
  element bibitem {
     BibliographicItem
}

relaton_collection =
  element relaton-collection {
    attribute type { text }?,
    btitle, contributor*,
    docrelation*
}

## Type of bibliographic item.
## The value list complies with the types provided in ISO 690:2021.
## NOTE: These values represent a strict superset to BibTeX
## publication types, and therefore any BibTeX type value can be
## mapped to these values. Some values here do not have a corresponding
## entry in BibTeX, for instance, "standard" and "website".
BibItemType |=
    ## An article from a journal or magazine
    "article" |
    ## A monograph
    "book" |
    ## A booklet or pamphlet. The distinction between book and booklet is not made frequently
    "booklet" |
    ## A manual
    "manual" |
    ## A conference proceedings
    "proceedings" |
    ## A presentation given in a formal meeting
    "presentation" |
    ## A dissertation given in an academic institution, as a summation of research
    "thesis" |
    ## A technical report
    "techreport" |
    ## A standard, a document issued by a Standards Defining Organization
    "standard" |
    ## An intellectual creation which has not been published, e.g. a manuscript.
    ## NOTE: Properly this does not represent a distinct bibliographic type, and it
    ## should be avoided in favour of using the `status` element of `BibliographicItem`
    "unpublished" |
    ## A map or other cartographic resource
    "map" |
    ## A resource avaiulable in digital form
    ## NOTE: The overloaded type `electronicResource` should be avoided where possible, particularly if the
    ## resource corresponds closely to a paper bibliographic type, such as `book` or `article`.
    ## The distinction between offline and online resources should be made through `medium` (electronic vs physical).
    ## Specialisations of `electronicResource` include `dataset`, `webResource`, `website`,
    ## `socialMedia`, and `software`.
    "electronic resource" |
    ## An audiovisual resource. Is a superclass of other types such as `video` and `music`
    "audiovisual" |
    ## A film
    "film" |
    ## A video
    "video" |
    ## A broadcast made through mass media, including radio and television
    "broadcast" |
    ## Computer executable code, not itself human-readable text (though it may generate such text)
    "software" |
    ## A graphic work, a work with two-dimensional or three-dimensional content
    "graphic_work" |
    ## A musical work. Includes both notated music and music performances:
    ## The two are differentiated through `BibliographicItem/medium/content` as "notated music" vs "performed music"
    "music" |
    ## A patent
    "patent" |
    ## A (typically untitled) part of a book. May be a chapter (or section, etc.) and/or a range of pages
    "inbook" |
    ## A part of a book having its own title, and typically having distinct authorship
    "incollection" |
    ## An article in a conference proceedings
    "inproceedings" |
    ## A journal or periodical publication
    "journal" |
    ## A collection of web resources, presented under the same URL domain and under the same (individual or corporate) authorship
    "website" |
    ## A human-readable or consumable web resource, a single item accessible online via a web browser,
    ## which is not composed of components all of which can be accessed in the same way.
    ## Includes media files, as well as individual web pages
    "webresource" |
    ## An electronic dataset, a collection of data that is not meant to be human-readable, and which is typically only machine readable
    "dataset" |
    ## A instance of a resource curated and preserved in an archive, which mediates any access to it. 
    ## Typically it is physical, unique, and unpublished.
    ##  NOTE: The content of the resource may be published separately,
    ##  but that makes it a distinct bibliographic item, as access to it is no longer mediated through the archive
    "archival" |
    ## One or more resources within a collection that is typically collectively authored by member users.
    ## Includes blog posts, forum posts, social media posts, tweets. Is usually a `webResource`,
    ## but not always (e.g. blogs on WeChat are only accessible within the WeChat app.)
    "social_media" |
    ## A single communication intended for multiple persons, and publicly accessible. 
    ## May be electronic (e.g. Facebook status update) or voice (e.g. evacuation alert), but is typically not print
    "alert" |
     ## A single communication intended for a restricted number of authorised persons (typically one).
     ## May be electronic (e.g. Twitter direct message, email) or voice (e.g. a remark made to someone,
     ## typically cited as "personal communication")
    "message" |
     ## An exchange of messages between two or more persons. May be electronic (e.g. web chat) or voice (e.g. phone call)
    "conversation" |
     ## Bibliographic type not adequately described in the foregoing
    "misc"

## Description of a bibliographic resource
BibliographicItem =
    ## The type of the bibliographic item
    attribute type { BibItemType }?,
    ## The version of the Relaton schema that this description conforms to
    attribute schema-version { text }?,
    ## The date at which the bibliographic item was last updated
    fetched?,
    ## A pre-formatted version of the full bibliographic item reference,
    ## rendered for human reading, and used to sidestep the rendering of the reference out of its component parts
    formattedref?,
    ## The title(s) of the bibliographic item
    btitle+,
    ## The URI(s) associated with the bibliographic item
    bsource*,
    ## The identifier(s) of the bibliographic item in an international standard scheme
    docidentifier+,
    ## Unprefixed, preferably numeric version of an identifier of the bibliographic item, intended for sorting of bibliography
    docnumber?,
    ## One or more date-times associated with the production of or access to the bibliographic item
    bdate*,
    ## Contributors to the production of the bibliographic item
    contributor*,
    ## The edition of the bibliographic item
    edition?,
    ## The version of the bibliographic item (within an edition). Can be used for drafts. 
    ## Can be more than one, in case of multiple versioning schemes
    version*,
    ## Note(s) associated with the bibliographic item
    biblionote*,
    ## The language(s) in which the bibliographic item is expressed
    language*,
    ## The locale(s) in which the bibliographic item is expressed
    locale*,
    ## The script(s) in which the bibliographic item is written
    script*,
    ## The abstract of the bibliographic item
    bibabstract*,
    ## The publication or preparation status of the bibliographic item
    status?,
    ## The copyright status of the bibliographic item
    copyright*,
    ## The relation(s) of the bibliographic item to other bibliographic items
    docrelation*,
    ## The series of the bibliographic item
    series*,
    ## The medium the subject is realized on.
    ## Medium can be used to differentiate between "electronic" and "physical" manifestations of an information resource.
    medium?,
    ## The geographic location associated with the production of the bibliographic item
    bplace*,
    ## The price set on accessing the bibliographic item.
    ## The price should be treated as nominal, rather than capturing all possible pricings at a given time
    bprice*,
    ## The extent of the bibliographic item, if reference is not being made to the entirety of the item described.
    ## Repeats for different levels of granularity (e.g. volume number, page number), or for discontinuous ranges
    ## (e.g. multiple page ranges, pages plus plates)
    extent*,
    ## The bibliographic size of the bibliographic item, measured in the same units as extent (i.e. pages, volumes,
    ## megabytes, hours, rather than cm^2.) Distinct from the physical size of the bibliographic item, captured in medium/size
    bibliographic_size?,
    ## The location where the bibliographic item may be accessed.
    ## Used for archival resources. Also used for pathways to access digital resources, where a URI is not practical
    accesslocation*,
    ## A license under which the bibliographic item has been issued.
    ## NOTE: This should preferably be encoded as  a URI or short identifier, rather than descriptive text
    license*,
    ## The classification of the bibliographic item according to a standard classification scheme
    bclassification*,
    ## Keyword(s) for the bibliographic item
    bkeyword*,
    ## Information about how long the current description of the bibliographic item is valid for
    validity?,
    ## Depiction of the bibliographic item, typically an image
    depiction?

ReducedBibliographicItem =
    attribute type { BibItemType }?,
    attribute schema-version { text }?,
    fetched?,
    formattedref?,
    btitle*,
    bsource*,
    docidentifier*,
    docnumber?,
    bdate*,
    contributor*,
    edition?,
    version*,
    biblionote*,
    language*,
    locale*,
    script*,
    bibabstract*,
    status?,
    copyright*,
    docrelation*,
    series*,
    medium?,
    bplace*,
    bprice*,
    extent*,
    bibliographic_size?,
    accesslocation*,
    license*,
    bclassification*,
    bkeyword*,
    validity?,
    depiction?

btitle = element title { TypedTitleString }
bsource = element uri { TypedUri }
formattedref = element formattedref { TextElement+ }
license = element license { text }

fetched = element fetched { ISO8601DateTime }

validity = element validity {
  validityBegins?, validityEnds?, validityRevision?
}
validityBegins = element validityBegins { ISO8601DateTime }
validityEnds = element validityEnds { ISO8601DateTime }
validityRevision = element revision { ISO8601DateTime }


TypedTitleString =
  attribute type { text }?,
  LocalizedMarkedUpString

# TitleType = ( "alternative" | "original" | "unofficial" | "subtitle" | "main" )

TypedUri =
  attribute type { text }?,
  attribute language { text }?,
  attribute locale { text }?,
  attribute script { text }?,
  xsd:anyURI

DateType =
  attribute text { text }?,
  ( ISO8601Date )?

## Indicates type of date within a bibliographic lifecycle.
## NOTE: Typically only the `published` date is of interest
BibliographicDateType =
  ## The date on which the document was published (distributed by the publisher)
  "published" |
  ## Date a document was last accessed by the compiler of the bibliographic record; routinely used for online publications.
  ## NOTE: Unlike in ISO 690:2021, no distinction is made between
  ## "viewed" and "accessed" based on whether the resource is human-readable or machine-readable.)
  "accessed" |
  ## The date on which the first version of the document was created
  "created" |
  ## The date on which the document takes effect. Applies to normative documents
  "implemented" |
  ## The date on which the document was obsoleted/
  "obsoleted" |
  ## The date on which the document was reviewed and approved by the issuing authority
  "confirmed" |
  ## The date on which the current version of the document was updated
  "updated" |
  ## The date on which the current version of the document was corrected, without that correction considered to amount to a full document update
  "corrected" |
  ## The date on which the document was issued (authorised for publication by the issuing authority).
  ## Is typically differentiated from `published` for normative documents, such as standards and legislation
  "issued" |
  ## The date on which the document was broadcast
  "transmitted" |
  ## The date on which the document physically copied, or recreated without any substantial change in content (allowing for change in medium)
  "copied" |
  ## The date on which the document was last renewed or reprinted without any changes in content
  "unchanged" |
  ## The date on which the unpublished document was last circulated officially as a preprint.
  ## For standards, this is associated with the latest transition to a formally defined preparation stage,
  ## such as Working Draft or Committee Draft
  "circulated" |
  ## The date on which a document adapted for a new purpose or audience, with some change in content (includes translation)
  "adapted" |
  ## The date on which a formal process for approval of a document was initiated. Typically applies to standards documents in draft
  "vote-started" |
  ## The date on which a formal process for approval of a document was closed. Typically applies to standards documents in draft
  "vote-ended" |
  ## The date on which the existence of a document is made public.
  ## Applies whether the resource has already been created or not, and whether it is to be published or not
  "announced" |
  ## The document is guaranteed not to be changed or updated until this date
  "stable-until"

## Significant date in the lifecycle of the bibliographic item, including its production and its access
bdate = element date {
  ## The phase of the production of or access to a bibliographic item
  attribute type { ( BibliographicDateType | text ) },
  ## An optional textual description of the date, especially when a Gregorian date is not applicable
  attribute text { text }?,
  (
    (
       ## The start of the date range described
       element from { ISO8601Date },
       ## The end of the date range described
       element to { ISO8601Date }?
    ) |
    ## The point date described
    element on { ISO8601Date }
  )?
}

docidentifier = element docidentifier {
  attribute type { text }?,
  attribute scope { text }?,
  attribute primary { xsd:boolean }?,
  LocalizedMarkedUpString
}
docnumber = element docnumber { text }

bclassification = element classification {
  attribute type { text }?,
  text
}

bplace = element place {
  text | ( bibliocity, biblioregion*, bibliocountry*)
}

bibliocity = element city { text }

biblioregion = element region { RegionType }
bibliocountry = element country { RegionType }

RegionType =
  attribute iso { text }?,
  attribute recommended { xsd:boolean }?,
  text

bprice = element price {
   attribute currency { text },
   text
}

medium = element medium {
  bcontent?, genre?, form?, carrier?, size?, scale?
}
bcontent = element content { text }
genre = element genre { text }
form = element form { text }
carrier = element carrier { text }
size = element size { text }
scale = element scale { text }
accesslocation = element accesslocation { text }

## The size of a bibliographic item being referred to.
## A sequence of sizes can be used to indicate different numberings, e.g. xii + 40 pp.,
## or different kinds of measures, e.g. pages + plates
sizevalue = element value {
  ## The type of size. Recommended values: page, volume, time (in ISO 8601 duration values), data (including unit), value (free-form string)
  attribute type { text },
  ## The quantity of the size
  text?
}

bibliographic_size = element size { sizevalue+ }
extent = element extent  {
  locality* | localityStack*
}

series = element series {
  attribute type { SeriesType }?,
  formattedref?,
  btitle+, bplace?, seriesorganization?,
  abbreviation?,
  seriesfrom?, seriesto?,
  seriesnumber?, seriespartnumber?, seriesrun?
}

SeriesType = ( "main" | "alt" | text )

seriesorganization = element organization { text }
seriesfrom = element from { ISO8601Date }
seriesto = element to { ISO8601Date }
seriesnumber = element number { text }
seriespartnumber = element partnumber { text }
seriesrun = element run { text }

biblionote = element note {
  attribute type { text }?,
  LocalizedMarkedUpString
}

bibabstract = element abstract { 
  LocalizedStringAttrs,
  (BasicBlockNoId+ | TextElement+)
}

copyright =
  element copyright {
    from, to?, owner+, copyright_scope?
}

copyright_scope = element scope { text }

from = element from { xsd:gYear }
to = element to { xsd:gYear }

owner =
  element owner { ContributorInfo }

DocRelationType =
"includes" |
"includedIn" |
"hasPart" |
"partOf" |
"merges" |
"mergedInto" |
"splits" |
"splitInto" |
"instanceOf" |
"hasInstance" |
"exemplarOf" |
"hasExemplar" |
"manifestationOf" |
"hasManifestation" |
"reproductionOf" |
"hasReproduction" |
"reprintOf" |
"hasReprint" |
"expressionOf" |
"hasExpression" |
"translatedFrom" |
"hasTranslation" |
"arrangementOf" |
"hasArrangement" |
"abridgementOf" |
"hasAbridgement" |
"annotationOf" |
"hasAnnotation" |
"draftOf" |
"hasDraft" |
"editionOf" |
"hasEdition" |
"updates" |
"updatedBy" |
"derivedFrom" |
"derives" |
"describes" |
"describedBy" |
"catalogues" |
"cataloguedBy" |
"hasSuccessor" |
"successorOf" |
"adaptedFrom" |
"hasAdaptation" |
"adoptedFrom" |
"adoptedAs" |
"reviewOf" |
"hasReview" |
"commentaryOf" |
"hasCommentary" |
"related" |
"hasComplement" |
"complementOf" |
"obsoletes" |
"obsoletedBy" |
"cites" |
"isCitedIn"

docrelation =
  element relation {
    attribute type { DocRelationType },
    element description { LocalizedMarkedUpString }?,
    element bibitem { ReducedBibliographicItem },
    (locality* | localityStack*),
    (sourceLocality* | sourceLocalityStack*)
}

version =
  element version {
    revision-date?, draft?
}

vedition = element edition { xsd:int }
revision-date = element revision-date { ISO8601Date }
draft = element draft { text }

bkeyword = element keyword {
    LocalizedString |
    (
       element vocab { LocalizedString },
       vocabid+
    ) |
    (
       element taxon { LocalizedString }+,
       vocabid+
    )
}

vocabid = element vocabid {
    attribute type { text },
    attribute uri { xsd:anyURI }?,
    element code { text }?,
    element term { text }?
}

#Anycontents = mixed {
# https://github.com/relaxng/jing-trang/issues/211
# https://lists.oasis-open.org/archives/office/200808/msg00024.html
# https://lists.oasis-open.org/archives/office/200808/msg00099.html
# For this to work, we will actually strip any attributes in the Anycontents before
# passing it for validation. Horrible I know, but there are no good alternatives
# that also allow us to do grammar inheritance
	# (attribute * { text } | Any)*
#        Any*
#}
AnyElement = element * { ( text | AnyElement)+ }


}
