grammars/biblio.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  instantiations of this grammar may replace leaf strings
  with more elaborated types; e.g. title (text) replaced with
  title-main, title-intro, title-part; type replaced with
  enum.
  
  some renaming at leaf nodes is permissible
  
  obligations can change both from optional to mandatory,
  and from mandatory to optional; optional elements may
  be omitted; freely positioned alternatives may be replaced
  with strict ordering
  
  DO NOT introduce a namespace here. We do not want a distinct namespace
  for these elements, and a distinct namespace for any grammar inheriting
  these elements; we just want one namespace for any child grammars
  of this.
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    https://www.myintervals.com/blog/2009/05/20/iso-8601-date-validation-that-doesnt-suck/
    iso8601date = xsd:string { pattern = "([\+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))([T\s]((([01]\d|2[0-3])((:?)[0-5]\d)?|24\:?00)([\.,]\d+(?!:))?)?(\17[0-5]\d([\.,]\d+)?)?([zZ]|([\+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?" }
    Somewhat dumbed down for XSD regex:
  -->
  <define name="ISO8601DateTime">
    <data type="string">
      <param name="pattern">([\+\-]?\d{4})((-?)((0[1-9]|1[0-2])((-?)([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))([T\s]((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([\.,]\d+)?)?((:?)[0-5]\d([.,]\d+)?)?([zZ]|([\+\-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?</param>
    </data>
  </define>
  <define name="ISO8601Date">
    <data type="string">
      <param name="pattern">([\+\-]?\d{4})((-?)((0[1-9]|1[0-2])((-?)([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6]))))?</param>
    </data>
  </define>
  <!-- start = bibitem -->
  <define name="BibData">
    <ref name="BibliographicItem"/>
  </define>
  <define name="status">
    <element name="status">
      <ref name="stage"/>
      <optional>
        <ref name="substage"/>
      </optional>
      <optional>
        <ref name="iteration"/>
      </optional>
    </element>
  </define>
  <define name="stage">
    <element name="stage">
      <optional>
        <attribute name="abbreviation"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="substage">
    <element name="substage">
      <optional>
        <attribute name="abbreviation"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="iteration">
    <element name="iteration">
      <text/>
    </element>
  </define>
  <define name="language">
    <element name="language">
      <text/>
    </element>
  </define>
  <define name="locale">
    <a:documentation>ISO-639</a:documentation>
    <element name="locale">
      <text/>
    </element>
  </define>
  <define name="script">
    <a:documentation>ISO-3166</a:documentation>
    <element name="script">
      <text/>
    </element>
  </define>
  <define name="edition">
    <a:documentation>ISO-15924: Latn</a:documentation>
    <element name="edition">
      <optional>
        <attribute name="number"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="LocalizedStringAttrs">
    <optional>
      <!-- multiple languages and scripts possible: comma delimit them if so -->
      <attribute name="language"/>
    </optional>
    <optional>
      <attribute name="locale"/>
    </optional>
    <optional>
      <attribute name="script"/>
    </optional>
  </define>
  <define name="LocalizedString1">
    <!-- multiple languages and scripts possible: comma delimit them if so -->
    <ref name="LocalizedStringAttrs"/>
    <text/>
  </define>
  <define name="LocalizedString">
    <choice>
      <ref name="LocalizedString1"/>
      <oneOrMore>
        <element name="variant">
          <ref name="LocalizedString1"/>
        </element>
      </oneOrMore>
    </choice>
  </define>
  <define name="LocalizedMarkedUpString1">
    <!-- multiple languages and scripts possible: comma delimit them if so -->
    <ref name="LocalizedStringAttrs"/>
    <oneOrMore>
      <ref name="TextElement"/>
    </oneOrMore>
  </define>
  <define name="LocalizedMarkedUpString">
    <choice>
      <ref name="LocalizedMarkedUpString1"/>
      <oneOrMore>
        <element name="variant">
          <ref name="LocalizedMarkedUpString1"/>
        </element>
      </oneOrMore>
    </choice>
  </define>
  <!--
    Unlike UML, change type to format: type is overloaded
    Would be need if plain were default value and could omit the attribute
    Added LocalizedStringOrXsAny
  -->
  <define name="FormattedString">
    <optional>
      <!-- attribute format { ( "plain" | "html" | "docbook" | "tei" | "asciidoc" | "markdown" ) }?, -->
      <attribute name="format">
        <choice>
          <value>text/plain</value>
          <value>text/html</value>
          <value>application/docbook+xml</value>
          <value>application/tei+xml</value>
          <value>text/x-asciidoc</value>
          <value>text/markdown</value>
          <value>application/x-metanorma+xml</value>
          <text/>
        </choice>
      </attribute>
    </optional>
    <ref name="LocalizedStringOrXsAny"/>
  </define>
  <define name="LocalizedStringOrXsAny1">
    <!-- multiple languages and scripts possible: comma delimit them if so -->
    <ref name="LocalizedStringAttrs"/>
    <oneOrMore>
      <choice>
        <text/>
        <ref name="AnyElement"/>
      </choice>
    </oneOrMore>
  </define>
  <define name="LocalizedStringOrXsAny">
    <choice>
      <ref name="LocalizedStringOrXsAny1"/>
      <oneOrMore>
        <element name="variant">
          <ref name="LocalizedStringOrXsAny1"/>
        </element>
      </oneOrMore>
    </choice>
  </define>
  <define name="contributor">
    <element name="contributor">
      <oneOrMore>
        <ref name="role"/>
      </oneOrMore>
      <ref name="ContributorInfo"/>
    </element>
  </define>
  <define name="role">
    <element name="role">
      <attribute name="type">
        <choice>
          <value>author</value>
          <value>performer</value>
          <value>publisher</value>
          <value>editor</value>
          <value>adapter</value>
          <value>translator</value>
          <value>distributor</value>
          <value>realizer</value>
          <value>owner</value>
          <value>authorizer</value>
          <value>enabler</value>
          <value>subject</value>
        </choice>
      </attribute>
      <zeroOrMore>
        <ref name="roledescription"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="ContributorInfo">
    <choice>
      <ref name="person"/>
      <ref name="organization"/>
    </choice>
  </define>
  <define name="roledescription">
    <element name="description">
      <ref name="LocalizedMarkedUpString"/>
    </element>
  </define>
  <define name="person">
    <element name="person">
      <optional>
        <ref name="fullname"/>
      </optional>
      <zeroOrMore>
        <ref name="credential"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="affiliation"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="person-identifier"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="contact"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="fullname">
    <element name="name">
      <ref name="FullNameType"/>
    </element>
  </define>
  <define name="credential">
    <element name="credential">
      <text/>
    </element>
  </define>
  <define name="FullNameType">
    <optional>
      <ref name="name_abbreviation"/>
    </optional>
    <choice>
      <group>
        <zeroOrMore>
          <ref name="prefix"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="forename"/>
        </zeroOrMore>
        <optional>
          <ref name="formatted-initials"/>
        </optional>
        <ref name="surname"/>
        <zeroOrMore>
          <ref name="addition"/>
        </zeroOrMore>
      </group>
      <ref name="completeName"/>
    </choice>
    <zeroOrMore>
      <ref name="biblionote"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="variantname"/>
    </zeroOrMore>
  </define>
  <define name="name_abbreviation">
    <element name="abbreviation">
      <ref name="LocalizedString"/>
    </element>
  </define>
  <define name="prefix">
    <element name="prefix">
      <ref name="LocalizedString"/>
    </element>
  </define>
  <define name="formatted-initials">
    <element name="formatted-initials">
      <ref name="LocalizedString"/>
    </element>
  </define>
  <define name="addition">
    <element name="addition">
      <ref name="LocalizedString"/>
    </element>
  </define>
  <define name="surname">
    <element name="surname">
      <ref name="LocalizedString"/>
    </element>
  </define>
  <define name="forename">
    <element name="forename">
      <optional>
        <attribute name="initial"/>
      </optional>
      <ref name="LocalizedString"/>
    </element>
  </define>
  <define name="completeName">
    <element name="completename">
      <ref name="LocalizedString"/>
    </element>
  </define>
  <define name="variantname">
    <element name="variant">
      <attribute name="type"/>
      <ref name="FullNameType"/>
    </element>
  </define>
  <define name="affiliation">
    <a:documentation>The affiliation of a person with an organization</a:documentation>
    <element name="affiliation">
      <optional>
        <ref name="affiliationname">
          <a:documentation>The name of the affiliation of the person with the organization; typically a position title</a:documentation>
        </ref>
      </optional>
      <zeroOrMore>
        <ref name="affiliationdescription">
          <a:documentation>A more detailed description of the affiliation of the person</a:documentation>
        </ref>
      </zeroOrMore>
      <optional>
        <ref name="organization">
          <a:documentation>The organization with which the person is affiliated</a:documentation>
        </ref>
      </optional>
    </element>
  </define>
  <define name="affiliationname">
    <element name="name">
      <ref name="LocalizedString"/>
    </element>
  </define>
  <define name="affiliationdescription">
    <element name="description">
      <ref name="LocalizedMarkedUpString"/>
    </element>
  </define>
  <define name="organization">
    <element name="organization">
      <ref name="OrganizationType"/>
    </element>
  </define>
  <define name="OrganizationType">
    <oneOrMore>
      <ref name="orgname"/>
    </oneOrMore>
    <zeroOrMore>
      <ref name="subdivision"/>
    </zeroOrMore>
    <optional>
      <ref name="abbreviation"/>
    </optional>
    <zeroOrMore>
      <ref name="uri"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="org-identifier"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contact"/>
    </zeroOrMore>
    <optional>
      <ref name="logo"/>
    </optional>
  </define>
  <define name="orgname">
    <element name="name">
      <choice>
        <ref name="LocalizedString"/>
        <ref name="NameWithVariants"/>
      </choice>
    </element>
  </define>
  <define name="subdivision">
    <element name="subdivision">
      <optional>
        <attribute name="type"/>
      </optional>
      <ref name="OrganizationType"/>
    </element>
  </define>
  <define name="logo">
    <element name="logo">
      <ref name="image-no-id"/>
    </element>
  </define>
  <define name="depiction">
    <element name="depiction">
      <optional>
        <attribute name="scope"/>
      </optional>
      <zeroOrMore>
        <ref name="image-no-id"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="NameWithVariants">
    <element name="primary">
      <ref name="LocalizedString"/>
    </element>
    <zeroOrMore>
      <element name="variant">
        <ref name="NameWithVariants1"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="NameWithVariants1">
    <attribute name="type"/>
    <element name="primary">
      <ref name="LocalizedString"/>
    </element>
    <zeroOrMore>
      <element name="variant">
        <ref name="NameWithVariants1"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="abbreviation">
    <element name="abbreviation">
      <ref name="LocalizedString"/>
    </element>
  </define>
  <define name="uri">
    <element name="uri">
      <optional>
        <attribute name="type"/>
      </optional>
      <data type="anyURI"/>
    </element>
  </define>
  <!-- TODO may change -->
  <define name="contact">
    <choice>
      <ref name="address"/>
      <ref name="phone"/>
      <ref name="email"/>
      <ref name="uri"/>
    </choice>
  </define>
  <define name="phone">
    <element name="phone">
      <optional>
        <attribute name="type"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="email">
    <element name="email">
      <text/>
    </element>
  </define>
  <define name="address">
    <a:documentation>An address for a person or organization</a:documentation>
    <element name="address">
      <choice>
        <!-- iso191606 TODO -->
        <group>
          <zeroOrMore>
            <ref name="street">
              <a:documentation>The street and street number or equivalent in the address, as one or more lines of text</a:documentation>
            </ref>
          </zeroOrMore>
          <ref name="city">
            <a:documentation>The settlement or municipality in the address</a:documentation>
          </ref>
          <optional>
            <ref name="state">
              <a:documentation>The region of the country in the address</a:documentation>
            </ref>
          </optional>
          <ref name="country">
            <a:documentation>The country in the address</a:documentation>
          </ref>
          <optional>
            <ref name="postcode">
              <a:documentation>The postal code or equivalent in the address</a:documentation>
            </ref>
          </optional>
        </group>
        <ref name="formattedAddress">
          <a:documentation>Preformatted version of the address, not decomposed into its component parts</a:documentation>
        </ref>
      </choice>
    </element>
  </define>
  <define name="street">
    <element name="street">
      <text/>
    </element>
  </define>
  <define name="city">
    <element name="city">
      <text/>
    </element>
  </define>
  <define name="state">
    <element name="state">
      <text/>
    </element>
  </define>
  <define name="country">
    <element name="country">
      <text/>
    </element>
  </define>
  <define name="postcode">
    <element name="postcode">
      <text/>
    </element>
  </define>
  <define name="formattedAddress">
    <element name="formattedAddress">
      <text/>
    </element>
  </define>
  <define name="person-identifier">
    <element name="identifier">
      <attribute name="type">
        <choice>
          <value>isni</value>
          <value>orcid</value>
          <value>uri</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="org-identifier">
    <element name="identifier">
      <attribute name="type">
        <data type="string" datatypeLibrary=""/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="citation">
    <a:documentation>Representation of a citation of a bibliographic item, typically within a document</a:documentation>
    <element name="citation">
      <ref name="CitationType"/>
    </element>
  </define>
  <define name="CitationType">
    <attribute name="bibitemid">
      <a:documentation>Bibliographic item that the citation applies to, referenced as the anchor of a bibliographic description</a:documentation>
      <data type="IDREF"/>
    </attribute>
    <choice>
      <zeroOrMore>
        <ref name="locality">
          <a:documentation>Describes the location of the cited information resource within the subject of the bibliographic item.
Multiple ``bibLocality``s are interpreted as discontinuous references.</a:documentation>
        </ref>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="localityStack">
          <a:documentation>Describes the location of the cited information resource within the subject of the bibliographic item in a multi-level manner.
For example, the hierarchical specification "Part IV, Chapter 3, Paragraphs 22-24" 
is represented as a single `bibLocalityStack`, composed of those three localities
(as opposed to three `bibLocality` references, which would be treated as three discontinuous references).
Multiple ``bibLocalityStack``s are themselves interpreted as discontinuous references</a:documentation>
        </ref>
      </zeroOrMore>
    </choice>
    <optional>
      <ref name="date">
        <a:documentation>Date of the citation, typically date of publication. 
A combination of the date time elements year, month and day should be specified.
Specification of month and day are optional. 
This date is not intended for disambiguation, since `bibitemid`
already identifies the source unambiguously; it is added for ease of processing, in case author-date
citations cannot straightforwardly extract the date from the bibliographic source</a:documentation>
      </ref>
    </optional>
  </define>
  <define name="date">
    <element name="date">
      <ref name="ISO8601Date"/>
    </element>
  </define>
  <define name="locality">
    <a:documentation>The extent or location of a bibliographic item being referred to.
A sequence of locality elements is meant to indicate hierarchical ordering, from greater to smaller.
e.g. Chapter, then page, then paragraph.
A discontinuous range can be represented by using two adjacent localities with the same type.</a:documentation>
    <element name="locality">
      <ref name="BibItemLocality"/>
    </element>
  </define>
  <define name="localityStack">
    <element name="localityStack">
      <optional>
        <attribute name="connective">
          <choice>
            <value>and</value>
            <value>or</value>
            <value>from</value>
            <value>to</value>
            <value/>
          </choice>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="locality"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="sourceLocality">
    <element name="sourceLocality">
      <ref name="BibItemLocality"/>
    </element>
  </define>
  <define name="sourceLocalityStack">
    <element name="sourceLocalityStack">
      <optional>
        <attribute name="connective">
          <choice>
            <value>and</value>
            <value>or</value>
            <value>from</value>
            <value>to</value>
            <value/>
          </choice>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="sourceLocality"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="BibItemLocality">
    <attribute name="type">
      <a:documentation>The type of extent of a locality (e.g. section, clause, page)</a:documentation>
      <ref name="LocalityType"/>
    </attribute>
    <optional>
      <ref name="referenceFrom">
        <a:documentation>The starting value of the extent, or point location</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="referenceTo">
        <a:documentation>The end value of the extent as a range, if applicable</a:documentation>
      </ref>
    </optional>
  </define>
  <define name="LocalityType">
    <data type="string">
      <param name="pattern">section|clause|part|paragraph|chapter|page|title|line|whole|table|annex|figure|note|list|example|volume|issue|time|anchor|locality:[a-zA-Z0-9_]+</param>
    </data>
  </define>
  <define name="referenceFrom">
    <element name="referenceFrom">
      <text/>
    </element>
  </define>
  <define name="referenceTo">
    <element name="referenceTo">
      <text/>
    </element>
  </define>
  <!-- unlike UML, has id attribute; that results from including bibitem in a docmodel -->
  <define name="bibitem">
    <element name="bibitem">
      <attribute name="id">
        <data type="ID"/>
      </attribute>
      <ref name="BibliographicItem"/>
    </element>
  </define>
  <define name="bibitem_no_id">
    <element name="bibitem">
      <ref name="BibliographicItem"/>
    </element>
  </define>
  <define name="relaton_collection">
    <element name="relaton-collection">
      <optional>
        <attribute name="type"/>
      </optional>
      <ref name="btitle"/>
      <zeroOrMore>
        <ref name="contributor"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="docrelation"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="BibItemType" combine="choice">
    <a:documentation>Type of bibliographic item.
The value list complies with the types provided in ISO 690:2021.
NOTE: These values represent a strict superset to BibTeX
publication types, and therefore any BibTeX type value can be
mapped to these values. Some values here do not have a corresponding
entry in BibTeX, for instance, "standard" and "website".</a:documentation>
    <choice>
      <value>article</value>
      <a:documentation>An article from a journal or magazine</a:documentation>
      <value>book</value>
      <a:documentation>A monograph</a:documentation>
      <value>booklet</value>
      <a:documentation>A booklet or pamphlet. The distinction between book and booklet is not made frequently</a:documentation>
      <value>manual</value>
      <a:documentation>A manual</a:documentation>
      <value>proceedings</value>
      <a:documentation>A conference proceedings</a:documentation>
      <value>presentation</value>
      <a:documentation>A presentation given in a formal meeting</a:documentation>
      <value>thesis</value>
      <a:documentation>A dissertation given in an academic institution, as a summation of research</a:documentation>
      <value>techreport</value>
      <a:documentation>A technical report</a:documentation>
      <value>standard</value>
      <a:documentation>A standard, a document issued by a Standards Defining Organization</a:documentation>
      <value>unpublished</value>
      <a:documentation>An intellectual creation which has not been published, e.g. a manuscript.
NOTE: Properly this does not represent a distinct bibliographic type, and it
should be avoided in favour of using the `status` element of `BibliographicItem`</a:documentation>
      <value>map</value>
      <a:documentation>A map or other cartographic resource</a:documentation>
      <value>electronic resource</value>
      <a:documentation>A resource avaiulable in digital form
NOTE: The overloaded type `electronicResource` should be avoided where possible, particularly if the
resource corresponds closely to a paper bibliographic type, such as `book` or `article`.
The distinction between offline and online resources should be made through `medium` (electronic vs physical).
Specialisations of `electronicResource` include `dataset`, `webResource`, `website`,
`socialMedia`, and `software`.</a:documentation>
      <value>audiovisual</value>
      <a:documentation>An audiovisual resource. Is a superclass of other types such as `video` and `music`</a:documentation>
      <value>film</value>
      <a:documentation>A film</a:documentation>
      <value>video</value>
      <a:documentation>A video</a:documentation>
      <value>broadcast</value>
      <a:documentation>A broadcast made through mass media, including radio and television</a:documentation>
      <value>software</value>
      <a:documentation>Computer executable code, not itself human-readable text (though it may generate such text)</a:documentation>
      <value>graphic_work</value>
      <a:documentation>A graphic work, a work with two-dimensional or three-dimensional content</a:documentation>
      <value>music</value>
      <a:documentation>A musical work. Includes both notated music and music performances:
The two are differentiated through `BibliographicItem/medium/content` as "notated music" vs "performed music"</a:documentation>
      <value>patent</value>
      <a:documentation>A patent</a:documentation>
      <value>inbook</value>
      <a:documentation>A (typically untitled) part of a book. May be a chapter (or section, etc.) and/or a range of pages</a:documentation>
      <value>incollection</value>
      <a:documentation>A part of a book having its own title, and typically having distinct authorship</a:documentation>
      <value>inproceedings</value>
      <a:documentation>An article in a conference proceedings</a:documentation>
      <value>journal</value>
      <a:documentation>A journal or periodical publication</a:documentation>
      <value>website</value>
      <a:documentation>A collection of web resources, presented under the same URL domain and under the same (individual or corporate) authorship</a:documentation>
      <value>webresource</value>
      <a:documentation>A human-readable or consumable web resource, a single item accessible online via a web browser,
which is not composed of components all of which can be accessed in the same way.
Includes media files, as well as individual web pages</a:documentation>
      <value>dataset</value>
      <a:documentation>An electronic dataset, a collection of data that is not meant to be human-readable, and which is typically only machine readable</a:documentation>
      <value>archival</value>
      <a:documentation>A instance of a resource curated and preserved in an archive, which mediates any access to it. 
Typically it is physical, unique, and unpublished.
 NOTE: The content of the resource may be published separately,
 but that makes it a distinct bibliographic item, as access to it is no longer mediated through the archive</a:documentation>
      <value>social_media</value>
      <a:documentation>One or more resources within a collection that is typically collectively authored by member users.
Includes blog posts, forum posts, social media posts, tweets. Is usually a `webResource`,
but not always (e.g. blogs on WeChat are only accessible within the WeChat app.)</a:documentation>
      <value>alert</value>
      <a:documentation>A single communication intended for multiple persons, and publicly accessible. 
May be electronic (e.g. Facebook status update) or voice (e.g. evacuation alert), but is typically not print</a:documentation>
      <value>message</value>
      <a:documentation>A single communication intended for a restricted number of authorised persons (typically one).
May be electronic (e.g. Twitter direct message, email) or voice (e.g. a remark made to someone,
typically cited as "personal communication")</a:documentation>
      <value>conversation</value>
      <a:documentation>An exchange of messages between two or more persons. May be electronic (e.g. web chat) or voice (e.g. phone call)</a:documentation>
      <value>misc</value>
      <a:documentation>Bibliographic type not adequately described in the foregoing</a:documentation>
    </choice>
  </define>
  <define name="BibliographicItem">
    <a:documentation>Description of a bibliographic resource</a:documentation>
    <optional>
      <attribute name="type">
        <a:documentation>The type of the bibliographic item</a:documentation>
        <ref name="BibItemType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="schema-version">
        <a:documentation>The version of the Relaton schema that this description conforms to</a:documentation>
      </attribute>
    </optional>
    <optional>
      <ref name="fetched">
        <a:documentation>The date at which the bibliographic item was last updated</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="formattedref">
        <a:documentation>A pre-formatted version of the full bibliographic item reference,
rendered for human reading, and used to sidestep the rendering of the reference out of its component parts</a:documentation>
      </ref>
    </optional>
    <oneOrMore>
      <ref name="btitle">
        <a:documentation>The title(s) of the bibliographic item</a:documentation>
      </ref>
    </oneOrMore>
    <zeroOrMore>
      <ref name="bsource">
        <a:documentation>The URI(s) associated with the bibliographic item</a:documentation>
      </ref>
    </zeroOrMore>
    <oneOrMore>
      <ref name="docidentifier">
        <a:documentation>The identifier(s) of the bibliographic item in an international standard scheme</a:documentation>
      </ref>
    </oneOrMore>
    <optional>
      <ref name="docnumber">
        <a:documentation>Unprefixed, preferably numeric version of an identifier of the bibliographic item, intended for sorting of bibliography</a:documentation>
      </ref>
    </optional>
    <zeroOrMore>
      <ref name="bdate">
        <a:documentation>One or more date-times associated with the production of or access to the bibliographic item</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contributor">
        <a:documentation>Contributors to the production of the bibliographic item</a:documentation>
      </ref>
    </zeroOrMore>
    <optional>
      <ref name="edition">
        <a:documentation>The edition of the bibliographic item</a:documentation>
      </ref>
    </optional>
    <zeroOrMore>
      <ref name="version">
        <a:documentation>The version of the bibliographic item (within an edition). Can be used for drafts. 
Can be more than one, in case of multiple versioning schemes</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="biblionote">
        <a:documentation>Note(s) associated with the bibliographic item</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="language">
        <a:documentation>The language(s) in which the bibliographic item is expressed</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="locale">
        <a:documentation>The locale(s) in which the bibliographic item is expressed</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="script">
        <a:documentation>The script(s) in which the bibliographic item is written</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="bibabstract">
        <a:documentation>The abstract of the bibliographic item</a:documentation>
      </ref>
    </zeroOrMore>
    <optional>
      <ref name="status">
        <a:documentation>The publication or preparation status of the bibliographic item</a:documentation>
      </ref>
    </optional>
    <zeroOrMore>
      <ref name="copyright">
        <a:documentation>The copyright status of the bibliographic item</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="docrelation">
        <a:documentation>The relation(s) of the bibliographic item to other bibliographic items</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="series">
        <a:documentation>The series of the bibliographic item</a:documentation>
      </ref>
    </zeroOrMore>
    <optional>
      <ref name="medium">
        <a:documentation>The medium the subject is realized on.
Medium can be used to differentiate between "electronic" and "physical" manifestations of an information resource.</a:documentation>
      </ref>
    </optional>
    <zeroOrMore>
      <ref name="bplace">
        <a:documentation>The geographic location associated with the production of the bibliographic item</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="bprice">
        <a:documentation>The price set on accessing the bibliographic item.
The price should be treated as nominal, rather than capturing all possible pricings at a given time</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="extent">
        <a:documentation>The extent of the bibliographic item, if reference is not being made to the entirety of the item described.
Repeats for different levels of granularity (e.g. volume number, page number), or for discontinuous ranges
(e.g. multiple page ranges, pages plus plates)</a:documentation>
      </ref>
    </zeroOrMore>
    <optional>
      <ref name="bibliographic_size">
        <a:documentation>The bibliographic size of the bibliographic item, measured in the same units as extent (i.e. pages, volumes,
megabytes, hours, rather than cm^2.) Distinct from the physical size of the bibliographic item, captured in medium/size</a:documentation>
      </ref>
    </optional>
    <zeroOrMore>
      <ref name="accesslocation">
        <a:documentation>The location where the bibliographic item may be accessed.
Used for archival resources. Also used for pathways to access digital resources, where a URI is not practical</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="license">
        <a:documentation>A license under which the bibliographic item has been issued.
NOTE: This should preferably be encoded as  a URI or short identifier, rather than descriptive text</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="bclassification">
        <a:documentation>The classification of the bibliographic item according to a standard classification scheme</a:documentation>
      </ref>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="bkeyword">
        <a:documentation>Keyword(s) for the bibliographic item</a:documentation>
      </ref>
    </zeroOrMore>
    <optional>
      <ref name="validity">
        <a:documentation>Information about how long the current description of the bibliographic item is valid for</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="depiction">
        <a:documentation>Depiction of the bibliographic item, typically an image</a:documentation>
      </ref>
    </optional>
  </define>
  <define name="ReducedBibliographicItem">
    <optional>
      <attribute name="type">
        <ref name="BibItemType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="schema-version"/>
    </optional>
    <optional>
      <ref name="fetched"/>
    </optional>
    <optional>
      <ref name="formattedref"/>
    </optional>
    <zeroOrMore>
      <ref name="btitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="bsource"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="docidentifier"/>
    </zeroOrMore>
    <optional>
      <ref name="docnumber"/>
    </optional>
    <zeroOrMore>
      <ref name="bdate"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contributor"/>
    </zeroOrMore>
    <optional>
      <ref name="edition"/>
    </optional>
    <zeroOrMore>
      <ref name="version"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="biblionote"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="language"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="locale"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="script"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="bibabstract"/>
    </zeroOrMore>
    <optional>
      <ref name="status"/>
    </optional>
    <zeroOrMore>
      <ref name="copyright"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="docrelation"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="series"/>
    </zeroOrMore>
    <optional>
      <ref name="medium"/>
    </optional>
    <zeroOrMore>
      <ref name="bplace"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="bprice"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="extent"/>
    </zeroOrMore>
    <optional>
      <ref name="bibliographic_size"/>
    </optional>
    <zeroOrMore>
      <ref name="accesslocation"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="license"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="bclassification"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="bkeyword"/>
    </zeroOrMore>
    <optional>
      <ref name="validity"/>
    </optional>
    <optional>
      <ref name="depiction"/>
    </optional>
  </define>
  <define name="btitle">
    <element name="title">
      <ref name="TypedTitleString"/>
    </element>
  </define>
  <define name="bsource">
    <element name="uri">
      <ref name="TypedUri"/>
    </element>
  </define>
  <define name="formattedref">
    <element name="formattedref">
      <oneOrMore>
        <ref name="TextElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="license">
    <element name="license">
      <text/>
    </element>
  </define>
  <define name="fetched">
    <element name="fetched">
      <ref name="ISO8601DateTime"/>
    </element>
  </define>
  <define name="validity">
    <element name="validity">
      <optional>
        <ref name="validityBegins"/>
      </optional>
      <optional>
        <ref name="validityEnds"/>
      </optional>
      <optional>
        <ref name="validityRevision"/>
      </optional>
    </element>
  </define>
  <define name="validityBegins">
    <element name="validityBegins">
      <ref name="ISO8601DateTime"/>
    </element>
  </define>
  <define name="validityEnds">
    <element name="validityEnds">
      <ref name="ISO8601DateTime"/>
    </element>
  </define>
  <define name="validityRevision">
    <element name="revision">
      <ref name="ISO8601DateTime"/>
    </element>
  </define>
  <define name="TypedTitleString">
    <optional>
      <attribute name="type"/>
    </optional>
    <ref name="LocalizedMarkedUpString"/>
  </define>
  <!-- TitleType = ( "alternative" | "original" | "unofficial" | "subtitle" | "main" ) -->
  <define name="TypedUri">
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <attribute name="language"/>
    </optional>
    <optional>
      <attribute name="locale"/>
    </optional>
    <optional>
      <attribute name="script"/>
    </optional>
    <data type="anyURI"/>
  </define>
  <define name="DateType">
    <optional>
      <attribute name="text"/>
    </optional>
    <optional>
      <ref name="ISO8601Date"/>
    </optional>
  </define>
  <define name="BibliographicDateType">
    <a:documentation>Indicates type of date within a bibliographic lifecycle.
NOTE: Typically only the `published` date is of interest</a:documentation>
    <choice>
      <value>published</value>
      <a:documentation>The date on which the document was published (distributed by the publisher)</a:documentation>
      <value>accessed</value>
      <a:documentation>Date a document was last accessed by the compiler of the bibliographic record; routinely used for online publications.
NOTE: Unlike in ISO 690:2021, no distinction is made between
"viewed" and "accessed" based on whether the resource is human-readable or machine-readable.)</a:documentation>
      <value>created</value>
      <a:documentation>The date on which the first version of the document was created</a:documentation>
      <value>implemented</value>
      <a:documentation>The date on which the document takes effect. Applies to normative documents</a:documentation>
      <value>obsoleted</value>
      <a:documentation>The date on which the document was obsoleted/</a:documentation>
      <value>confirmed</value>
      <a:documentation>The date on which the document was reviewed and approved by the issuing authority</a:documentation>
      <value>updated</value>
      <a:documentation>The date on which the current version of the document was updated</a:documentation>
      <value>corrected</value>
      <a:documentation>The date on which the current version of the document was corrected, without that correction considered to amount to a full document update</a:documentation>
      <value>issued</value>
      <a:documentation>The date on which the document was issued (authorised for publication by the issuing authority).
Is typically differentiated from `published` for normative documents, such as standards and legislation</a:documentation>
      <value>transmitted</value>
      <a:documentation>The date on which the document was broadcast</a:documentation>
      <value>copied</value>
      <a:documentation>The date on which the document physically copied, or recreated without any substantial change in content (allowing for change in medium)</a:documentation>
      <value>unchanged</value>
      <a:documentation>The date on which the document was last renewed or reprinted without any changes in content</a:documentation>
      <value>circulated</value>
      <a:documentation>The date on which the unpublished document was last circulated officially as a preprint.
For standards, this is associated with the latest transition to a formally defined preparation stage,
such as Working Draft or Committee Draft</a:documentation>
      <value>adapted</value>
      <a:documentation>The date on which a document adapted for a new purpose or audience, with some change in content (includes translation)</a:documentation>
      <value>vote-started</value>
      <a:documentation>The date on which a formal process for approval of a document was initiated. Typically applies to standards documents in draft</a:documentation>
      <value>vote-ended</value>
      <a:documentation>The date on which a formal process for approval of a document was closed. Typically applies to standards documents in draft</a:documentation>
      <value>announced</value>
      <a:documentation>The date on which the existence of a document is made public.
Applies whether the resource has already been created or not, and whether it is to be published or not</a:documentation>
      <value>stable-until</value>
      <a:documentation>The document is guaranteed not to be changed or updated until this date</a:documentation>
    </choice>
  </define>
  <define name="bdate">
    <a:documentation>Significant date in the lifecycle of the bibliographic item, including its production and its access</a:documentation>
    <element name="date">
      <attribute name="type">
        <a:documentation>The phase of the production of or access to a bibliographic item</a:documentation>
        <choice>
          <ref name="BibliographicDateType"/>
          <text/>
        </choice>
      </attribute>
      <optional>
        <attribute name="text">
          <a:documentation>An optional textual description of the date, especially when a Gregorian date is not applicable</a:documentation>
        </attribute>
      </optional>
      <optional>
        <choice>
          <group>
            <element name="from">
              <a:documentation>The start of the date range described</a:documentation>
              <ref name="ISO8601Date"/>
            </element>
            <optional>
              <element name="to">
                <a:documentation>The end of the date range described</a:documentation>
                <ref name="ISO8601Date"/>
              </element>
            </optional>
          </group>
          <element name="on">
            <a:documentation>The point date described</a:documentation>
            <ref name="ISO8601Date"/>
          </element>
        </choice>
      </optional>
    </element>
  </define>
  <define name="docidentifier">
    <element name="docidentifier">
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="scope"/>
      </optional>
      <optional>
        <attribute name="primary">
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="LocalizedMarkedUpString"/>
    </element>
  </define>
  <define name="docnumber">
    <element name="docnumber">
      <text/>
    </element>
  </define>
  <define name="bclassification">
    <element name="classification">
      <optional>
        <attribute name="type"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="bplace">
    <element name="place">
      <choice>
        <text/>
        <group>
          <ref name="bibliocity"/>
          <zeroOrMore>
            <ref name="biblioregion"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="bibliocountry"/>
          </zeroOrMore>
        </group>
      </choice>
    </element>
  </define>
  <define name="bibliocity">
    <element name="city">
      <text/>
    </element>
  </define>
  <define name="biblioregion">
    <element name="region">
      <ref name="RegionType"/>
    </element>
  </define>
  <define name="bibliocountry">
    <element name="country">
      <ref name="RegionType"/>
    </element>
  </define>
  <define name="RegionType">
    <optional>
      <attribute name="iso"/>
    </optional>
    <optional>
      <attribute name="recommended">
        <data type="boolean"/>
      </attribute>
    </optional>
    <text/>
  </define>
  <define name="bprice">
    <element name="price">
      <attribute name="currency"/>
      <text/>
    </element>
  </define>
  <define name="medium">
    <element name="medium">
      <optional>
        <ref name="bcontent"/>
      </optional>
      <optional>
        <ref name="genre"/>
      </optional>
      <optional>
        <ref name="form"/>
      </optional>
      <optional>
        <ref name="carrier"/>
      </optional>
      <optional>
        <ref name="size"/>
      </optional>
      <optional>
        <ref name="scale"/>
      </optional>
    </element>
  </define>
  <define name="bcontent">
    <element name="content">
      <text/>
    </element>
  </define>
  <define name="genre">
    <element name="genre">
      <text/>
    </element>
  </define>
  <define name="form">
    <element name="form">
      <text/>
    </element>
  </define>
  <define name="carrier">
    <element name="carrier">
      <text/>
    </element>
  </define>
  <define name="size">
    <element name="size">
      <text/>
    </element>
  </define>
  <define name="scale">
    <element name="scale">
      <text/>
    </element>
  </define>
  <define name="accesslocation">
    <element name="accesslocation">
      <text/>
    </element>
  </define>
  <define name="sizevalue">
    <a:documentation>The size of a bibliographic item being referred to.
A sequence of sizes can be used to indicate different numberings, e.g. xii + 40 pp.,
or different kinds of measures, e.g. pages + plates</a:documentation>
    <element name="value">
      <attribute name="type">
        <a:documentation>The type of size. Recommended values: page, volume, time (in ISO 8601 duration values), data (including unit), value (free-form string)</a:documentation>
      </attribute>
      <optional>
        <text>
          <a:documentation>The quantity of the size</a:documentation>
        </text>
      </optional>
    </element>
  </define>
  <define name="bibliographic_size">
    <element name="size">
      <oneOrMore>
        <ref name="sizevalue"/>
      </oneOrMore>
    </element>
  </define>
  <define name="extent">
    <element name="extent">
      <choice>
        <zeroOrMore>
          <ref name="locality"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="localityStack"/>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <define name="series">
    <element name="series">
      <optional>
        <attribute name="type">
          <ref name="SeriesType"/>
        </attribute>
      </optional>
      <optional>
        <ref name="formattedref"/>
      </optional>
      <oneOrMore>
        <ref name="btitle"/>
      </oneOrMore>
      <optional>
        <ref name="bplace"/>
      </optional>
      <optional>
        <ref name="seriesorganization"/>
      </optional>
      <optional>
        <ref name="abbreviation"/>
      </optional>
      <optional>
        <ref name="seriesfrom"/>
      </optional>
      <optional>
        <ref name="seriesto"/>
      </optional>
      <optional>
        <ref name="seriesnumber"/>
      </optional>
      <optional>
        <ref name="seriespartnumber"/>
      </optional>
      <optional>
        <ref name="seriesrun"/>
      </optional>
    </element>
  </define>
  <define name="SeriesType">
    <choice>
      <value>main</value>
      <value>alt</value>
      <text/>
    </choice>
  </define>
  <define name="seriesorganization">
    <element name="organization">
      <text/>
    </element>
  </define>
  <define name="seriesfrom">
    <element name="from">
      <ref name="ISO8601Date"/>
    </element>
  </define>
  <define name="seriesto">
    <element name="to">
      <ref name="ISO8601Date"/>
    </element>
  </define>
  <define name="seriesnumber">
    <element name="number">
      <text/>
    </element>
  </define>
  <define name="seriespartnumber">
    <element name="partnumber">
      <text/>
    </element>
  </define>
  <define name="seriesrun">
    <element name="run">
      <text/>
    </element>
  </define>
  <define name="biblionote">
    <element name="note">
      <optional>
        <attribute name="type"/>
      </optional>
      <ref name="LocalizedMarkedUpString"/>
    </element>
  </define>
  <define name="bibabstract">
    <element name="abstract">
      <ref name="LocalizedStringAttrs"/>
      <choice>
        <oneOrMore>
          <ref name="BasicBlockNoId"/>
        </oneOrMore>
        <oneOrMore>
          <ref name="TextElement"/>
        </oneOrMore>
      </choice>
    </element>
  </define>
  <define name="copyright">
    <element name="copyright">
      <ref name="from"/>
      <optional>
        <ref name="to"/>
      </optional>
      <oneOrMore>
        <ref name="owner"/>
      </oneOrMore>
      <optional>
        <ref name="copyright_scope"/>
      </optional>
    </element>
  </define>
  <define name="copyright_scope">
    <element name="scope">
      <text/>
    </element>
  </define>
  <define name="from">
    <element name="from">
      <data type="gYear"/>
    </element>
  </define>
  <define name="to">
    <element name="to">
      <data type="gYear"/>
    </element>
  </define>
  <define name="owner">
    <element name="owner">
      <ref name="ContributorInfo"/>
    </element>
  </define>
  <define name="DocRelationType">
    <choice>
      <value>includes</value>
      <value>includedIn</value>
      <value>hasPart</value>
      <value>partOf</value>
      <value>merges</value>
      <value>mergedInto</value>
      <value>splits</value>
      <value>splitInto</value>
      <value>instanceOf</value>
      <value>hasInstance</value>
      <value>exemplarOf</value>
      <value>hasExemplar</value>
      <value>manifestationOf</value>
      <value>hasManifestation</value>
      <value>reproductionOf</value>
      <value>hasReproduction</value>
      <value>reprintOf</value>
      <value>hasReprint</value>
      <value>expressionOf</value>
      <value>hasExpression</value>
      <value>translatedFrom</value>
      <value>hasTranslation</value>
      <value>arrangementOf</value>
      <value>hasArrangement</value>
      <value>abridgementOf</value>
      <value>hasAbridgement</value>
      <value>annotationOf</value>
      <value>hasAnnotation</value>
      <value>draftOf</value>
      <value>hasDraft</value>
      <value>editionOf</value>
      <value>hasEdition</value>
      <value>updates</value>
      <value>updatedBy</value>
      <value>derivedFrom</value>
      <value>derives</value>
      <value>describes</value>
      <value>describedBy</value>
      <value>catalogues</value>
      <value>cataloguedBy</value>
      <value>hasSuccessor</value>
      <value>successorOf</value>
      <value>adaptedFrom</value>
      <value>hasAdaptation</value>
      <value>adoptedFrom</value>
      <value>adoptedAs</value>
      <value>reviewOf</value>
      <value>hasReview</value>
      <value>commentaryOf</value>
      <value>hasCommentary</value>
      <value>related</value>
      <value>hasComplement</value>
      <value>complementOf</value>
      <value>obsoletes</value>
      <value>obsoletedBy</value>
      <value>cites</value>
      <value>isCitedIn</value>
    </choice>
  </define>
  <define name="docrelation">
    <element name="relation">
      <attribute name="type">
        <ref name="DocRelationType"/>
      </attribute>
      <optional>
        <element name="description">
          <ref name="LocalizedMarkedUpString"/>
        </element>
      </optional>
      <element name="bibitem">
        <ref name="ReducedBibliographicItem"/>
      </element>
      <choice>
        <zeroOrMore>
          <ref name="locality"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="localityStack"/>
        </zeroOrMore>
      </choice>
      <choice>
        <zeroOrMore>
          <ref name="sourceLocality"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="sourceLocalityStack"/>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <define name="version">
    <element name="version">
      <optional>
        <ref name="revision-date"/>
      </optional>
      <optional>
        <ref name="draft"/>
      </optional>
    </element>
  </define>
  <define name="vedition">
    <element name="edition">
      <data type="int"/>
    </element>
  </define>
  <define name="revision-date">
    <element name="revision-date">
      <ref name="ISO8601Date"/>
    </element>
  </define>
  <define name="draft">
    <element name="draft">
      <text/>
    </element>
  </define>
  <define name="bkeyword">
    <element name="keyword">
      <choice>
        <ref name="LocalizedString"/>
        <group>
          <element name="vocab">
            <ref name="LocalizedString"/>
          </element>
          <oneOrMore>
            <ref name="vocabid"/>
          </oneOrMore>
        </group>
        <group>
          <oneOrMore>
            <element name="taxon">
              <ref name="LocalizedString"/>
            </element>
          </oneOrMore>
          <oneOrMore>
            <ref name="vocabid"/>
          </oneOrMore>
        </group>
      </choice>
    </element>
  </define>
  <define name="vocabid">
    <element name="vocabid">
      <attribute name="type"/>
      <optional>
        <attribute name="uri">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <element name="code">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="term">
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <!--
    Anycontents = mixed {
    https://github.com/relaxng/jing-trang/issues/211
    https://lists.oasis-open.org/archives/office/200808/msg00024.html
    https://lists.oasis-open.org/archives/office/200808/msg00099.html
    For this to work, we will actually strip any attributes in the Anycontents before
    passing it for validation. Horrible I know, but there are no good alternatives
    that also allow us to do grammar inheritance
    (attribute * { text } | Any)*
           Any*
    }
  -->
  <define name="AnyElement">
    <element>
      <anyName/>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="AnyElement"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
